* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: hsl(75, 94%, 57%);
    --color-white: hsl(0, 0%, 100%);
    --gray-700: hsl(0, 0%, 20%);
    --gray-800: hsl(0, 0%, 12%);
    --gray-900: hsl(0, 0%, 8%);
}

body {
    background-color: var(--gray-900);
    height: 100vh;
    font-family: "Inter", sans-serif;
    font-style: normal;
}